.container {
    display: grid;

    /* grid-template: 50px 50px / 250px 50px 50px; */
    grid-template-rows: 50px 50px;
    grid-template-columns: 50px 50px;

    /* to define the new implicit rows may be defined: */
    /* grid-auto-rows: 50px; */

    /* column-gap: 10px;
    row-gap: 100px; */
    gap: 25px;

    /* -------------------------------------------------- */
    /* To define all the configurations and create a grid: */

    /* If the name of your grid area is foo, the name of the area’s starting row line and starting column line will be foo-start, and the name of its last row line and last column line will be foo-end */

    /* display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header header"
      "main main . sidebar"
      "footer footer footer footer"; */

}

.container>div {
    border: 1px solid blue;
}



.grid-container {
    resize: both;
    overflow: auto;
    display: grid;
    gap: 4px;
    padding: 4px;
    border: 1px solid grey;
    background-color: skyblue;

    /* grid-template-rows: 150px 150px;
    grid-template-columns: 150px 150px 150px 150px 150px; */

    /* grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 2fr) repeat(3, 1fr); */

    /* grid-template-rows: repeat(2, min(200px, 50%));
    /*defining the maximun value*/
    /*grid-template-columns: repeat(5, max(120px, 20%));
    /*defining the minimun value */

    grid-template-rows: repeat(2, 1fr);
    /* grid-template-columns: repeat(5, minmax(150px, 200px)); */
    /* grid-template-columns: repeat(5, clamp(150px, 20%, 200px)); */

    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.grid-item {
    background-color: #444;
    text-align: center;
    color: #ddd;
    font-family: sans-serif;
    font-size: 1.5rem;
    padding: 12px;
}

p {
    margin: 12px auto 24px;
}

img {
    height: 60px;
}